<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key ="queryListar" value="
			 SELECT 
				 A.Id, A.Codigo,
				 A.Nombre,
				 A.Descripcion,
				 A.Precio,
				 A.IdMarca,
				 A.IdCategoria,
				 M.Id,
				 M.Descripcion AS MarcaDescripcion,
				 C.Id,
				 C.Descripcion AS CategoriaDescripcion
			 FROM 
				ARTICULOS AS A 
			INNER JOIN MARCAS AS M ON A.IdMarca = M.Id 
			INNER JOIN CATEGORIAS AS C ON A.IdCategoria = C.Id
			WHERE A.Activo = 1"/>

		<add key ="queryOrdenarMayorAMenor" value="
			 SELECT 
				 A.Id,
				 A.Codigo,
				 A.Nombre,
				 A.Descripcion,
				 A.Precio,
				 A.IdMarca,
				 A.IdCategoria,
				 M.Id,
				 M.Descripcion AS MarcaDescripcion,
				 C.Id,
				 C.Descripcion AS CategoriaDescripcion 
			  FROM 
				ARTICULOS AS A 
			  INNER JOIN MARCAS AS M ON A.IdMarca = M.Id 
			  INNER JOIN CATEGORIAS AS C ON A.IdCategoria = C.Id 
			  WHERE A.Activo = 1
			  ORDER BY A.Precio ASC"/>

		<add key ="queryOrdenarMenorAMayor" value="
			 SELECT 
				A.Id, 
				A.Codigo, 
				A.Nombre, 
				A.Descripcion, 
				A.Precio, 
				A.IdMarca,
				A.IdCategoria,
				M.Id, 
				M.Descripcion AS MarcaDescripcion,
				C.Id,
				C.Descripcion AS CategoriaDescripcion 
			FROM 
				ARTICULOS AS A 
			INNER JOIN MARCAS AS M ON A.IdMarca = M.Id 
			INNER JOIN CATEGORIAS AS C ON A.IdCategoria = C.Id 
			WHERE A.Activo = 1
			ORDER BY A.Precio DESC"/>

		<add key="queryInsertarArticulo" value ="INSERT into ARTICULOS (Codigo, Nombre, Descripcion, IdMarca, IdCategoria, Precio) VALUES (@Codigo, @Nombre, @Descripcion, @IdMarca, @IdCategoria, @Precio)" />

		<add key="queryUpdateArticulo" value="UPDATE ARTICULOS set Codigo = @Codigo, Nombre = @Nombre, Descripcion = @Descripcion , IdMarca = @IdMarca, IdCategoria = @IdCategoria, Precio = @Precio WHERE Id = @Id"/>
	</appSettings>
</configuration>